body {
    color: #003262;
    margin:0;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}


h1 {
    color:#C4820E;
    font-size: 2.5rem;
}

h2#our-reach {
    color:#C4820E;
    font-size: 2.5rem;
}

h2 {
    color:#C4820E;
    font-size: 2.5rem;
}


.white-text {
    color:white;
}

.berkeley-blue {
    color:#003262 
}

header {
    background-color: #C4820E;
    height: 200px;
}

img#wgeo{
    position: absolute;
    top: 27px;
    left:0;
    width:280px;
}

img#ucbe-logo {
    width:120px;
    position: absolute;
    top: 20px;
    left: 300px;
}

#mainnav > div > ul > li > a{
    background-color: #003262;
    color: #FFF;
  }

  #navbarNavDropdown {
    position: absolute;
    right: 40px;
    top: 154px;
    right: 40px;
    font-size: 20px;
  }

  #mainnav li {
    background-color: #003262;
    color: #FFF;
    width: 200px;
    margin-right: 20px;
    text-align: center;
  }
  
  #mainnav button {
    
  }

  #mainnav .dropdown-menu a{
    background-color: #003262;
    color: #FFF;
    width: 200px;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    border-top: #fff 1px solid;
  }

  #mainnav .dropdown-menu {
    padding: 0;
    margin: 0;
  }

  main {
      margin-left:100px;
      margin-right:100px;
  }

  footer {
      background-color: #003262;
      color: #FFF;
      height: 200px;
      padding-top: 25px;
  }

  footer #social-icons {
      text-align: right;
      margin-right: 100px;
  }

  footer #social-icons a img {
    height:40px;
    margin-left:10px;
  }

  footer #ucbe-footer-logo {
      margin-left: 100px;
  }

  footer #ucbe-footer-logo img {
    width: 300px;
    display: block;
  }

  footer #footer-copyright{
      text-align: center;
  }

  .light-font {
            
    font-weight: 300;
    font-weight: 300;
}

.italic-font {
    font-style: italic;
    font-weight: 300;
}

.bold-font{
    font-weight: 700;
}

#ucbe-video {
    border:#DDD5C7 26px solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#home-respond img {
    width: 100%;
    border:#3B7EA1 20px solid;
    border-radius: 20px;
}

#home-respond .col-md {
    padding: 20px;
}

#home-respond {
    margin-top: 50px;
    margin-bottom: 50px;
}

.b-space {
    margin-bottom: 50px;
}
#footer-social-media{
    padding-top:20px;
}
#footer-social-media  svg {
    margin-right: 10px;
}

#footer-copyright{
    padding-top:20px
}
.social-icon {
    fill: #fff;
}