body {
    color: #003262;
    margin:0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}


h1 {
    color:#C4820E;
    font-size: 2.5rem;
}

h2#our-reach {
    color:#C4820E;
    font-size: 2.5rem;
}

h2 {
    color:#C4820E;
    font-size: 2.5rem;
}


.white-text {
    color:white;
}

.berkeley-blue {
    color:#003262 
}

header {
    background-color: #C4820E;
    height: 200px;
}

img#wgeo{
    position: absolute;
    top: 27px;
    left:0;
    width:280px;
}

img#ucbe-logo {
    width:120px;
    position: absolute;
    top: 20px;
    left: 300px;
}

#mainnav > div > ul > li > a{
    background-color: #003262;
    color: #FFF;
  }

  #navbarNavDropdown {
    position: absolute;
    right: 40px;
    top: 154px;
    right: 40px;
    font-size: 20px;
  }

  #mainnav li {
    background-color: #003262;
    color: #FFF;
    width: 200px;
    margin-right: 20px;
    text-align: center;
  }
  
  #mainnav button {
    
  }

  #mainnav .dropdown-menu a{
    background-color: #003262;
    color: #FFF;
    width: 200px;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    border-top: #fff 1px solid;
  }

  #mainnav .dropdown-menu {
    padding: 0;
    margin: 0;
  }

  main {
    margin-left:100px;
    margin-right:100px;
  }

  @media screen and (max-width:768px) {
    main {
      margin-left:50px;
      margin-right:50px;
    }
  }

  footer {
      background-color: #003262;
      color: #FFF;
      height: 200px;
      padding-top: 25px;
  }

  footer #social-icons {
      text-align: right;
      margin-right: 100px;
  }

  footer #social-icons a img {
    height:40px;
    margin-left:10px;
  }

  footer #ucbe-footer-logo {
      margin-left: 100px;
  }

  footer #ucbe-footer-logo img {
    width: 300px;
    display: block;
  }

  footer #footer-copyright{
      text-align: center;
  }

  .light-font {
            
    font-weight: 300;
    font-weight: 300;
}

.italic-font {
    font-style: italic;
    font-weight: 300;
}

.bold-font{
    font-weight: 700;
}

#ucbe-video {
    border:#DDD5C7 26px solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 300px;
    max-width: 560px;
}

#home-respond img {
    width: 100%;
    border:#3B7EA1 20px solid;
    border-radius: 20px;
}

#home-respond .col-md {
    padding: 20px;
}

#home-respond {
    margin-top: 50px;
    margin-bottom: 50px;
}

.b-space {
    margin-bottom: 50px;
}
#footer-social-media{
    padding-top:20px;
}
#footer-social-media  svg {
    margin-right: 10px;
}

#footer-copyright{
    padding-top:20px
}
.social-icon {
    fill: #fff;
}

#collage-2021 {
    border:#3B7EA1 26px solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:#3B7EA1;
    max-width: 800px;
}


#collage-2021 #girl-photo img {
    width: 100% 
}

#collage-2021 #girl-photo {
    padding: 10px; 
}

#collage-2021 #lawn-photo img {
    width: 100% 
}

#collage-2021 #lawn-photo {
    padding: 10px;
    padding-bottom: 35px;
}

@media screen {
        
}


#collage-2021 #arc-photo img {
    width: 100% 
}

#collage-2021 #arc-photo {
    padding: 10px; 
    }

    #up-arrow{
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 20px solid #C38310;
      margin:auto;
      width: 0; 
      height: 0; 
      margin:40px auto;
      text-align: center;
      display: block;
    }
    #down-arrow{
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 20px solid #C38310;
      margin:auto;
      width: 0; 
      height: 0; 
      margin:40px auto;
      text-align: center;
      display: block;
    }
    
    
    #timeline h2{
      text-align:center;
      color:#184470;
    }
    #timeline .tl-header{
       color:#C4820E;
        font-size: 2.5rem;
    }
    #timeline .tl-left .tl-header{
      text-align: right;
      padding-right: 50px;
    }
    #timeline .tl-left .textcol {
      border-right:2px solid #184470;
    }
     
     #timeline .tl-left .tl-header:after{
       border-top: 2px solid #184470;
       content: "";
       display: inline-block;
       position: relative;
       top: -6px;
       width: 82px;
       right: -65px;
     }
     
     #timeline .tl-right .tl-header{
       text-align: left;
       padding-left: 50px;
     }
     #timeline .tl-right .textcol {
       border-left:2px solid #184470;
     }
     
     #timeline .tl-right .tl-header:before{
       border-top: 2px solid #184470;
       content: " ";
       display: inline-block;
       position: relative;
       top: -2px;
       width: 82px;
       left: -66px;
     }


    #timeline img.geobk{
      width:100%;
    }

    #timeline #tl-images img{
      width:100%;
    }
    
     
     /*NEW STYLES FOR <=600px WIDTH*/
     @media only screen and (max-width: 600px) {
         /*hide header horizontal lines  */
       #timeline .tl-right .tl-header:before,
       #timeline .tl-left .tl-header:after {
         display: none;
       }
       /*hide middle of page lines*/
       #timeline .tl-right .textcol,
       #timeline .tl-left .textcol {
         border:none;
       }

       /* align the headers to the center */
       #timeline .tl-header{
         text-align:center;
         padding-left:0;
         padding-right:0;
       }
         /*hide decorative images */
       #timeline img.geobk{
         display:none;
       }
    } /*end media query*/

#timeline .tl-info {
    color: #003262;
}